= simple_form_for(@message) do |form|
  .card
    .card-body
      = render 'messages/form_fields', form: form
    .card-footer
      .d-flex
        .mr-auto
          = content_link_to 'Delete', message_path(@message), method: :delete, 'up-confirm': 'Are you sure?', class: 'btn btn-outline-danger'
        = content_link_to 'Cancel', cancel_path(@message.parent), class: 'btn btn-light', 'up-close': ''
        = form.submit 'Save', class: 'btn btn-primary ml-1'
