= simple_form_for(@repository) do |form|
  .card
    .card-header
      - if @repository.new_record?
        New #{@repository.model_name.human}
      - else
        #{@repository.name}
    .card-body
      = form.input :repository_url,
        hint: 'Enter the URL of the Github repository e.g. https://github.com/github/ruby'
      - if form.object.preview_image.present?
        %div= image_tag(form.object.preview_image.small.url, alt: repository_preview_image_alternative_text(form.object))
      = form.input :preview_image
      = form.input :preview_image_cache, as: :hidden
      = form.input :remove_preview_image, as: :boolean

    .card-footer
      .d-flex
        .mr-auto
          - if @repository.persisted?
            = content_link_to 'Delete', repository_path(@repository), {method: :delete, 'up-confirm': 'Are you sure?', class: 'btn btn-outline-danger'}
        = content_link_to 'Cancel', cancel_path(@repository), class: 'btn btn-light', 'up-close': ''
        = form.submit 'Save', class: 'btn btn-primary ml-1'
