= content_link_to '← Back to list', ideas_path, class: 'btn btn-outline-primary'

.card.mt-3
  %h3.card-header= @idea.title
  %ul.list-group.list-group-flush#list-items
    %li.list-group-item
      .row
        .col-10
          %strong= @idea.user.to_s
          %small #{time_ago_in_words(@idea.created_at)} ago
          .mt-3= format_markdown(@idea.body)
        .col-2.d-flex
          .mr-auto
          %div
            - if current_power.include_record?(:updatable, @idea)
              = modal_link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-outline-secondary btn-sm'
    - @idea.messages.each do |message|
      %li.list-group-item
        .row
          .col-10
            %strong= message.user.to_s
            %small #{time_ago_in_words(message.created_at)} ago
            .mt-3= format_markdown(message.body)
          .col-2.d-flex
            .mr-auto
            %div
              - if current_power.include_record?(:updatable, message)
                = modal_link_to 'Edit', edit_message_path(message), class: 'btn btn-outline-secondary btn-sm'
    %li.list-group-item= render 'shared/message', record: @idea, reveal: '#list-items:after'
