= simple_form_for(@conversation) do |form|
  .card
    .card-header
      - if @conversation.new_record?
        New #{Conversation.model_name.human}
      - else
        #{@conversation.title}
    .card-body
      = form.input :title
      = form.input :body

    .card-footer
      .d-flex
        .mr-auto
          - if @conversation.persisted?
            = content_link_to 'Delete', conversation_path(@conversation), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-outline-danger'
        = content_link_to 'Cancel', cancel_path(@conversation), class: 'btn btn-light', 'up-close': ''
        = form.submit 'Save', class: 'btn btn-primary ml-1'
