= content_link_to '← Back to list', conversations_path, class: 'btn btn-outline-primary'

.card.mt-3
  %h3.card-header= @conversation.title
  %ul.list-group.list-group-flush
    %li.list-group-item
      .row
        .col-10
          %strong= @conversation.user.to_s
          %small #{time_ago_in_words(@conversation.created_at)} ago
          .mt-3= format_markdown(@conversation.body)
        .col-2.d-flex
          .mr-auto
          %div
            - if current_power.include_record?(:updatable, @conversation)
              = modal_link_to 'Edit', edit_conversation_path(@conversation), class: 'btn btn-outline-secondary btn-sm'
    - @conversation.messages.each do |message|
      %li.list-group-item#messages
        .row
          .col-10
            %strong= message.user.to_s
            %small #{time_ago_in_words(message.created_at)} ago
            .mt-3= format_markdown(message.body)
          .col-2.d-flex
            .mr-auto
            %div
              - if current_power.include_record?(:updatable, message)
                = modal_link_to 'Edit', edit_message_path(message), class: 'btn btn-outline-secondary btn-sm'
    %li.list-group-item
      - if current_user.present?
        = render 'messages/new', message: @conversation.messages.build, up_target: '#messages'
