= content_link_to '← Back to list', conversations_path, class: 'btn btn-outline-primary'

.card.mt-3
  .card-header
    .d-flex
      .mr-auto
        %h3= @conversation.title
      - if current_power.include_record?(:updatable, @conversation)
        = modal_link_to "Edit #{Conversation.model_name.human}", edit_conversation_path(@conversation), class: 'btn btn-primary'
  %ul.list-group.list-group-flush
    %li.list-group-item= format_markdown(@conversation.body)
    - @conversation.messages.each do |message|
      %li.list-group-item
        = format_markdown(message.body)
        - if current_power.include_record?(:updatable, message)
          = modal_link_to "Edit #{Message.model_name.human}", edit_message_path(message), class: 'btn btn-primary'

.d-flex
  .mr-auto
  - if current_user.present?
    = modal_link_to 'Reply', new_message_path(message: {conversation_id: @conversation}), class: 'btn btn-primary mt-3'
