= simple_form_for(@project) do |form|
  .card
    .card-header
      = title
    .card-body
      = form.input :title
      = form.input :subtitle
      = form.input :description
      = form.input :repository_url
    .card-footer
      .d-flex
        .mr-auto
          = form.submit 'Save', class: 'btn btn-primary'
          = content_link_to 'Cancel', cancel_path(@project), class: 'btn btn-light', 'up-close': ''
        - if @project.persisted?
          = content_link_to 'Delete', project_path(@project), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-outline-danger'
