= link_to "New #{Project.model_name.human}", new_project_path, class: 'btn btn-primary'

- if @projects.present?
  - @projects.each do |project|
    .card.mt-3
      .card-header
        = link_to(project.title, project)
        %small= l(project.created_at, format: :short)
      .card-body
        = project.subtitle
- else
  = no_records_available
