= content_link_to '← Back to list', projects_path, class: 'btn btn-outline-primary'

.card.mt-3
  .card-header
    .d-flex
      .mr-auto
        %h3= @project.title
      = modal_link_to "Edit #{Project.model_name.human}", edit_project_path(@project), class: 'btn btn-primary'
    = @project.subtitle
  .card-body
    %dl
      %dt= Project.human_attribute_name(:description)
      %dd= format_text(@project.description)

      %dt= Project.human_attribute_name(:repository_url)
      %dd= format_string(@project.repository_url)

      %dt= Project.human_attribute_name(:application_url)
      %dd= format_string(@project.application_url)
