- if @external_repository_reviews.present?
  %table.table
    %thead
      %tr
        %th= ExternalRepositoryReview.human_attribute_name(:project_url)
        %th{width: '30%'}= ExternalRepositoryReview.human_attribute_name(:homepage_url)
        %th{width: '15%'}
    %tbody
      - @external_repository_reviews.each do |external_repository_review|
        %tr
          %td= external_link_to(external_repository_review.project_url, external_repository_review.project_url)
          %td= external_link_to(external_repository_review.homepage_url, external_repository_review.homepage_url)
          %td
            .horizontal-forms
              = simple_form_for(external_repository_review, html: {class: 'horizontal-forms--form'}) do |form|
                = form.input :state_event, input_html: { value: 'add' }, as: :hidden
                = form.submit('Add', class: 'btn btn-outline-success')
              = simple_form_for(external_repository_review, html: {class: 'horizontal-forms--form'}) do |form|
                = form.input :state_event, input_html: { value: 'reject' }, as: :hidden
                = form.submit('Reject', class: 'btn btn-primary')
  = render 'shared/pagination', collection: @external_repository_reviews
- else
  = no_records_available do
    %span.text-muted No pending reviews.
